version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: inventory_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: inventory_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  mongo:
    image: mongo:6.0
    container_name: inventory_mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: inventory_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - PYTHONPATH=/app
      - MYSQL_HOST=db
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=adminpassword
      - MYSQL_DB=inventory_db
      - MONGO_URI=mongodb://mongo:27017/
      - MONGO_DB_NAME=cloud_inventory_logs
    depends_on:
      db:
        condition: service_healthy
      mongo:
        condition: service_started

volumes:
  mysql_data:
  mongo_data:
